.fe-interview * {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.fe-interview {
  background-color: var(--white);
  padding: 1vw 15vw;
}

.fe-interview h1 {
  text-align: left;
}

.fe-interview h2 {
  margin-left: 1vw;
}

.fe-interview h3 {
  margin-left: 2vw;
}

.fe-interview h4 {
  margin-left: 3vw;
}

.fe-interview p {
  font-weight: normal;
  margin-left: 3vw;
}

.fe-interview img {
  max-width: 700px;
  width: 100%;
  display: block;
  margin: auto;
}

.fe-interview blockquote {
  background-color: #ededed;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}
.fe-interview table {
  display: block;
  margin: auto;
}

table.inline-block {
  border-collapse: collapse;
}
.inline-block td,
.inline-block th {
  border: 1px solid;
  padding: 5px;
}
.inline-block td {
  text-align: center;
}
table.inline-block img {
  width: 20px;
}
