.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  text-align: center;
}

.content img {
  max-width: 100%;
}

.heading {
  cursor: pointer;
}

.heading img {
  width: 20px;
}

:root {
  --white: #f5f7fd;
  --pastel-green: #77dd77;
  --pastel-red: #ff6961;
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--white);
  padding: 0vw 1vw;
}

h1 {
  text-align: left;
}

h2 {
  margin-left: 1vw;
}

h3 {
  margin-left: 2vw;
}

h4 {
  margin-left: 3vw;
}

p {
  font-weight: normal;
  margin-left: 3vw;
}

img {
  max-width: 700px;
  width: 100%;
  display: block;
  margin: auto;
}

blockquote {
  background-color: #ededed;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}
